@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
    /*
    background: -webkit-linear-gradient(to left, #ba27ff, #1c92d2, #26eb57, #1c92d2);

    background: linear-gradient(to left, #ba27ff, #1c92d2, #26eb57, #1c92d2);
    background-size: 400% 400%;
    background-size: 400% 400%;
    -webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
    animation: Gradient 60s ease infinite;*/
    
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    


}
/*
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}*/

.App-header {

    padding-top: 2vh;
    padding-left: 2vh;
}

.App-title {
    font-size: 3.5rem;
    text-align: center;
}

.App-intro {
    font-size: large;
    text-align: center;
}

.App-body {


    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    min-height: 93.5vh;
    padding: 2vh;
    overflow: hidden;
}

colors {
    background-color: #86c232;
    background-color: #61892f;
    background-color: #222629;
    background-color: #474b4f;
    background-color: #6b6e70;
}

section {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}

#title {
    font-size: 3.5em;
    text-align: center;
    font-family: 'IBM-Plex-Sans';
    color:rgb(78, 64, 64);
}

#button-div {
    background-color: white;
    /*#222629;*/
    ;
    padding-bottom: 1em;
}


.ReactTable {
    background-color: white;
    /*#222629;*/
    ;
    color: black;
    /*white;*/
    padding: 0.5em;
    font-size: 1.2em;
}

.ReactTable .rt-thead {
    background-color: rgb(78, 64, 64);;
    /*#6b6e70;*/
    color: white;
    font-size: 1.5em;
}

.dropdown {
    padding-bottom: 1em;
}

#device-count {
    color: rgb(78, 64, 64);;
    padding-left: 0.5em;
}

#map-link {
    color: rgb(78, 64, 64);;
    font-size: 2.5rem;
}

#table-link {
    color: rgb(78, 64, 64);;
    font-size: 2.5rem;
}

#device-count-text {
    color: rgb(78, 64, 64);
    size: 5em;
}

#loader {
    padding-top: 10em;
    text-align: center;
}


.-btn {
    color: white;
}

#download-btn {
    background-color: rgb(78, 64, 64);;
    color: white;
}

#refresh-btn {
    background-color: rgb(78, 64, 64);;
    color: white;
}

.mapMarkerStyle {
    background-image: url('pin.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#table-div {
    margin: 0 auto;
    text-align: center;
}

#icon-menu {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    margin-right: 1.5em;
}

#node-filter {
    margin-bottom: 1em;
}

#button-div {
    backgroudnd: #1c92d2;
    background-color: rgba(0, 0, 0, 0);
    /* fallback for old browsers */
    backgrdound: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    backgroudnd: linear-gradient(to left, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 1em;
}

.cylinder-popup {
    text-align: center;
}

#zoom-button-group { 
    text-align: center;
}

#zoom-plus, #zoom-minus {
    background-color: #1c92d2;
    color: white;
}